@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a, li {
  text-decoration: none;  
  list-style: none;
  color: black;
}

.header {
  padding: 10px;
  display: flex;
}

.header .left-links {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.header .right-links {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.footer {
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
}

.footer .left-links {
  display: flex;
  gap: 10px;
}

.footer .right-links {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  flex: 1 1 0;
}


.content .button {
  display: flex;
}

/* Solution 

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

*/